# Secret files
k8s/mongo-secret.yml
k8s/node-backend-secret.yml
k8s/python-backend-secret.yml

# Env files
.env
*.env

# Node modules
**/node_modules/

# Python cache
**/__pycache__/
**/*.pyc
**/venv/

# Logs
*.log
